In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv('/content/company.csv')

In [ ]:
df.isnull().sum()

TV           0
Radio        0
Newspaper    0
Sales        0
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.901208
Radio      0.054809  1.000000   0.354104  0.349631
Newspaper  0.056648  0.354104   1.000000  0.157960
Sales      0.901208  0.349631   0.157960  1.000000

In [ ]:
x = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=1)

In [ ]:
#building the model
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [ ]:
pred = lr.predict(x_test)
print(lr.score(x_test,y_test)*100)

87.47226291661848

# **LASSO REGRESSION**

In [ ]:
from sklearn.linear_model import Lasso
las = Lasso(alpha=1.0)
las.fit(x_train,y_train)

Lasso()

In [ ]:
pred = las.predict(x_test)
print(las.score(x_test,y_test)*100)

87.27567988918219

# **RIDGE REGRESSION**

In [ ]:
from sklearn.linear_model import Ridge
rid = Ridge(alpha=1.0)
rid.fit(x_train,y_train)

Ridge()

In [ ]:
pred = rid.predict(x_test)
print(rid.score(x_test,y_test)*100)

87.47215167012597